---
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ["docker/noetic/Dockerfile", "docker/noetic/Dockerfile-rosfree", "docker/humble/Dockerfile", "docker/humble/Dockerfile-rosfree"]
