name: "Build&Deploy movai-base images"

on:
  # Trigger the workflow on push or pull request
  # but only for the main branch
  # or on tag of type v*.*.*
  push:
    branches:
      - main
      - dev
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
      - dev
  release:
    types: [released]
jobs:
  movai-base-noetic:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v2
    with:
      docker_file: docker/noetic/Dockerfile
      docker_image: devops/movai-base-noetic
      public: true
      public_image: ce/movai-base-noetic
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: ${GITHUB_REF##*/}
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
      snyk_check: true
      platforms: linux/amd64, linux/arm/v7, linux/arm64
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
  movai-base-focal:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v2
    with:
      docker_file: docker/noetic/Dockerfile-rosfree
      docker_image: devops/movai-base-focal
      public: true
      public_image: ce/movai-base-focal
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: ${GITHUB_REF##*/}
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
      snyk_check: true
      platforms: linux/amd64, linux/arm/v7, linux/arm64
      target: base
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
  movai-base-focal-python310:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v2
    with:
      docker_file: docker/noetic/Dockerfile-rosfree
      docker_image: devops/movai-base-focal-python310
      public: true
      public_image: ce/movai-base-focal-python310
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: ${GITHUB_REF##*/}
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
      snyk_check: true
      platforms: linux/amd64
      target: rosfree-python310
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
  movai-base-humble:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v2
    with:
      docker_file: docker/humble/Dockerfile
      docker_image: devops/movai-base-humble
      public: true
      public_image: ce/movai-base-humble
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: ${GITHUB_REF##*/}
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
      snyk_check: true
      platforms: linux/amd64, linux/arm64
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
  movai-base-humble-python38:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v2
    with:
      docker_file: docker/humble/Dockerfile
      docker_image: devops/movai-base-humble-python38
      public: true
      public_image: ce/movai-base-humble-python38
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: ${GITHUB_REF##*/}
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
      snyk_check: true
      platforms: linux/amd64, linux/arm64
      target: humble-python38
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
