name: "Build&Deploy movai-base images"
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - dev

jobs:
  test-stable-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [noetic, humble, focal, focal-python310, humble-python38, alpine-python38, python38-slim]
    name: "Test movai-base-${{ matrix.distro }} image"
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: make build-${{ matrix.distro }}

      - name: Download container-structure-test
        run: |
          wget https://github.com/GoogleContainerTools/container-structure-test/releases/latest/download/container-structure-test-linux-amd64 -O /usr/local/bin/container-structure-test
          chmod +x /usr/local/bin/container-structure-test

      - name: Run container-structure-test
        run: make test-${{ matrix.distro }}

      - name: Display image size on summary
        run: |
          make print-sizes | tee -a $GITHUB_STEP_SUMMARY

      - name: Check image size
        run: |
          make check-main-images-sizes || true


  build-and-deploy:
    needs: test-stable-images
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v3
    with:
      manifest_file: images-manifest.yml
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: auto
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
      commit_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      commit_mail: ${{ secrets.RAISE_BOT_COMMIT_MAIL }}
      commit_token: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
